<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="icon" type="image/x-icon" href="/icon/icon.png" />
        <title>Album Inventory</title>
    </head>
    <body>
        <header>
            <a href="/">Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/create">Create Album</a></li>
            </ul>
        </nav>
        <div class="albumMainContainer">
            <div class="coverContainer">
                <img
                    src="<%= albums.cover %>"
                    alt="cover of the album, <%= albums.album %>"
                />
            </div>
            <div class="descriptions">
                <div class="name"><%= albums.album %></div>
                <div class="artist">
                    <a href="/artists/<%= albums.artist %>"
                        ><%= albums.artist %></a
                    >
                </div>
                <div class="genre">
                    <a href="/genres/<%= albums.genre %>"
                        ><%= albums.genre %></a
                    >
                </div>
                <div class="songs"><%= albums.songs %></div>
            </div>
            <div class="options">
                <a
                    href="/artists/<%= albums.artist %>/update/<%= albums.album %>"
                    >Update Album</a
                >

                <form
                    action="/artists/<%= albums.artist %>/<%= albums.album %>?_method=DELETE"
                    method="POST"
                    style="display: inline"
                >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit">Delete Album</button>
                </form>
            </div>
        </div>

        <footer>
            - All copyrights are reserved to the artists and I do not own any of
            these works. -
        </footer>
    </body>
</html>
