<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/">Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
            </ul>
        </nav>
        <div class="mainContainer">
            <div class="coverContainer">
                <img
                    src="<%= albums.cover %>"
                    alt="cover of the album, <%= albums.album %>"
                />
            </div>
            <div class="name"><%= albums.album %></div>
            <div class="artist">
                <a href="/artists/<%= albums.artist %>"><%= albums.artist %></a>
            </div>
            <div class="genre">
                <a href="/genres/<%= albums.genre %>"><%= albums.genre %></a>
            </div>
            <div class="songs"><%= albums.songs %></div>
            <a href="/artists/<%= albums.artist %>/update<%= albums.album>"
                >Update Album</a
            >
            <form
                action="/artists/<%= albums.artist %>/<%= albums.album %>?_method=DELETE"
                method="POST"
                style="display: inline"
            >
                <button type="submit">Delete Album</button>
            </form>
        </div>
        <footer>
            All copyrights are reserved to the artist and I do not own any of
            the works.
        </footer>
    </body>
</html>
