<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="icon" type="image/x-icon" href="/icon/icon.png" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/"> Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/create">Create Album</a></li>
            </ul>
        </nav>
        <div class="formMainContainer">
            <% if(typeof albums !== 'undefined') { %>
            <form
                action="/artists/<%= albums.artist %>/<%= albums.album %>?_method=PUT"
                method="POST"
            >
                <input type="hidden" name="_method" value="PUT" />
                <input type="hidden" name="id" value="<%= albums.id %>" />
                <label for="album">- Album Name</label>
                <input
                    type="text"
                    name="album"
                    id="album"
                    value="<%= albums.album %>"
                    required
                />
                <label for="artist">- Artist</label>
                <input
                    type="text"
                    name="artist"
                    id="artist"
                    value="<%= albums.artist %>"
                    required
                />
                <label for="genre">- Genre</label>
                <input
                    type="text"
                    name="genre"
                    id="genre"
                    value="<%= albums.genre %>"
                    required
                />
                <label for="songs">- Album Songs</label>
                <textarea name="songs" id="songs" required>
<%= albums.songs %></textarea
                >
                <label for="cover">- Album Cover URL</label>
                <input
                    type="text"
                    name="cover"
                    id="cover"
                    value="<%= albums.cover %>"
                    required
                />
                <button type="submit">Update</button>
            </form>

            <% } else { %>
            <form action="/create" method="post">
                <label for="album">- Album Name</label>
                <input type="text" name="album" id="album" required />
                <label for="artist">- Artist</label>
                <input type="text" name="artist" id="artist" required />
                <label for="genre">- Genre</label>
                <input type="text" name="genre" id="genre" required />
                <label for="songs">- Album Songs</label>
                <textarea name="songs" id="songs" required></textarea>
                <label for="cover">- Album Cover URL</label>
                <input type="text" name="cover" id="cover" required />
                <button type="submit">Create</button>
            </form>
            <% } %>
        </div>
        <footer>
            - All copyrights are reserved to the artists and I do not own any of
            these works. -
        </footer>
    </body>
</html>
