<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/"> Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/create">Create Album</a></li>
            </ul>
        </nav>
        <div class="mainContainer">
            <% if(typeof albums !== 'undefined') { %>
            <form
                action="/artists/<%= albums.artist %>/<%= albums.album %>?_method=PUT"
                method="POST"
            >
                <input type="hidden" name="_method" value="PUT" />
                <input type="hidden" name="id" value="<%= albums.id %>" />
                <label for="album">Album Name</label>
                <input
                    type="text"
                    name="album"
                    id="album"
                    value="<%= albums.album %>"
                />
                <label for="artist">Artist</label>
                <input
                    type="text"
                    name="artist"
                    id="artist"
                    value="<%= albums.artist %>"
                />
                <label for="genre">Genre</label>
                <input
                    type="text"
                    name="genre"
                    id="genre"
                    value="<%= albums.genre %>"
                />
                <label for="songs">Album Songs</label>
                <textarea name="songs" id="songs"><%= albums.songs %></textarea>
                <label for="cover">Album Cover URL</label>
                <input
                    type="text"
                    name="cover"
                    id="cover"
                    value="<%= albums.cover %>"
                />
                <button type="submit">Update</button>
            </form>

            <% } else { %>
            <form action="/create" method="post">
                <label for="album">Album Name</label>
                <input type="text" name="album" id="album" />
                <label for="artist">Artist</label>
                <input type="text" name="artist" id="artist" />
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre" />
                <label for="songs">Album Songs</label>
                <textarea name="songs" id="songs"></textarea>
                <label for="cover">Album Cover URL</label>
                <input type="text" name="cover" id="cover" />
                <button type="submit">Create</button>
            </form>
            <% } %>
        </div>
        <footer>
            All copyrights are reserved to the artist and I do not own any of
            the works.
        </footer>
    </body>
</html>
