<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/">Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/create">Create Album</a></li>
            </ul>
        </nav>
        <div class="mainContainer">
            <% albums.forEach(album => { %>
            <a
                href="/artists/<%= album.artist %>/<%= album.album %>"
                class="albumContainer"
            >
                <div class="coverContainer">
                    <img
                        src="<%= album.cover %>"
                        alt="cover of the album, <%= album.album %>"
                    />
                </div>
                <div class="albumName"><%= album.album %></div>
                <div class="albumArtist">
                    <a href="/artists/<%= album.artist %>"
                        ><%= album.artist %></a
                    >
                </div>
                <div class="albumGenre">
                    <a href="/genres/<%= album.genre %>"><%= album.genre %></a>
                </div>
            </a>
            <% }); %>
        </div>
        <footer>
            All copyrights are reserved to the artist and I do not own any of
            the works.
        </footer>
    </body>
</html>
