<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/">Album Inventory</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Albums</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/create">Create Album</a></li>
            </ul>
        </nav>
        <div class="mainContainer">
            <% albums.forEach(album => { %>
            <div class="albumContainer">
                <a href="/artists/<%= album.artist %>/<%= album.album %>">
                    <div class="coverContainer">
                        <img
                            src="<%= album.cover %>"
                            alt="cover of the album, <%= album.album %>"
                        />
                    </div>
                </a>
                <div class="descriptions">
                    <div class="albumName">
                        <a
                            href="/artists/<%= album.artist %>/<%= album.album %>"
                            ><%= album.album %></a
                        >
                    </div>
                    <div class="albumArtist">
                        <a href="/artists/<%= album.artist %>"
                            ><%= album.artist %></a
                        >
                    </div>
                    <div class="albumGenre">
                        <a href="/genres/<%= album.genre %>"
                            ><%= album.genre %></a
                        >
                    </div>
                </div>
            </div>

            <% }); %>
        </div>
        <footer>
            - All copyrights are reserved to the artists and I do not own any of
            these works. -
        </footer>
    </body>
</html>
